<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


	<!-- For navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">
	<script src="/assets/jsFiles/navbar.js"></script>
	<!-- For navbar -->

	<link rel="stylesheet" href="/assets/cssFiles/login.css">
	<script src="/assets/jsFiles/bankSelector.js"></script>

	<title>Login - Digital Banking Queue System</title>
</head>

<body>
	<!-- navigation bar -->
	<%- include("./partials/navbar.ejs") %>

	<div class="container">
		<div class="wrapper">
			<%- include("./partials/messages.ejs") %>
			<form action="/auth/login" method="post" name="Login_Form" class="form-login">
				<h3 class="form-login-heading">Welcome! Please Sign In</h3>

				<select class="form-control" name="bankName" id="bankInput" autofocus required>
					<option disabled selected value>Select a Bank</option>
				</select>

				<select class="form-control" name="division" id="divisionInput" autofocus required>
					<option disabled selected value>Select Division</option>
				</select>

				<select class="form-control" name="district" id="districtInput" autofocus required>
					<option disabled selected value>Select District</option>
				</select>

				<select class="form-control" name="branchName" id="branchInput" autofocus required>
					<option disabled selected value>Select a Branch</option>
				</select>

				<input type="password" class="form-control" name="password" id="password" placeholder="Password"
					required />

				<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login"
					type="Submit">Login</button>
				<br>
			</form>
		</div>
		<div class="wrapper2">
			<form action="/auth/register" method="GET" name="Login_Form" class="form-login">
				<p>Don't have an account? Register first</p>
				<button class="btn btn-lg btn-primary btn-block" id="regesterBtn" name="Register" value="Register"
					type="submit">Register</button>
			</form>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

<script>
	const bankSelector = $("#bankInput");
	const divisionSelector = $("#divisionInput");
	const districtSelector = $("#districtInput");
	const branchSelector = $("#branchInput");

	// Displaying bank select options
	bankSelector
		.empty()
		.append(`<option disabled selected value>Select a Bank</option>`);
	for (let i = 0; i < BankAndBranchArray.length; i++) {
		const bank = BankAndBranchArray[i].bankName;
		bankSelector.append(`<option value="${bank}">${bank}</option>`);
	}

	// Displaying division select options
	$("#bankInput").on("change", function () {
		const bankIdx = $("#bankInput option:selected").index() - 1;

		// clearing divisionSelector, districtSelector, branchSelector
		divisionSelector
			.empty()
			.append(
				`<option disabled selected value>Select Division</option>`
			);

		districtSelector
			.empty()
			.append(
				`<option disabled selected value>Select District</option>`
			);

		branchSelector
			.empty()
			.append(
				`<option disabled selected value>Select a Branch</option>`
			);
		const divisionArray = BankAndBranchArray[bankIdx].divisions;
		for (let i = 0; i < divisionArray.length; i++) {
			const division = divisionArray[i].divisionName;
			divisionSelector.append(`<option value="${division}">${division}</option>`);
		}
	});

	// Displaying district select options
	$("#divisionInput").on("change", function () {
		const bankIdx = $("#bankInput option:selected").index() - 1;
		const divisionIdx = $("#divisionInput option:selected").index() - 1;

		// clearing districtSelector, branchSelector
		districtSelector
			.empty()
			.append(
				`<option disabled selected value>Select District</option>`
			);

		branchSelector
			.empty()
			.append(
				`<option disabled selected value>Select a Branch</option>`
			);
		const districtArray = BankAndBranchArray[bankIdx].divisions[divisionIdx].districts;
		for (let i = 0; i < districtArray.length; i++) {
			const district = districtArray[i].districtName;
			districtSelector.append(`<option value="${district}">${district}</option>`);
		}
	});

	// Displaying branch select options
	$("#districtInput").on("change", function () {
		const bankIdx = $("#bankInput option:selected").index() - 1;
		const divisionIdx = $("#divisionInput option:selected").index() - 1;
		const districtIdx = $("#districtInput option:selected").index() - 1;

		// clearing branchSelector
		branchSelector
			.empty()
			.append(
				`<option disabled selected value>Select a Branch</option>`
			);

		const branchArray = BankAndBranchArray[bankIdx].divisions[divisionIdx].districts[districtIdx].branches;
		for (let i = 0; i < branchArray.length; i++) {
			const branch = branchArray[i];
			branchSelector.append(`<option value="${branch}">${branch}</option>`);
		}
	});
</script>

</html>